# Byte-compiled / Optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caches e Ambientes Virtuais
.venv/
venv/
env/
.env

# Distribuição / Builds
build/
dist/
*.egg-info/

# Arquivos de Dados Locais 
*.json
*.db
*.sqlite3

# Logs e Arquivos de Sistema
*.log
.DS_Store

# Flet (Arquivos temporários do framework)
.flet/
storage/